#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/20c320c8-8928-4bf4-8319-1d64dfc2b8b6 # baseUri: https://mocksvc.mulesoft.com/mocks/26b0bff7-7f73-49aa-ad59-6a7821f3ff90 # baseUri: https://mocksvc.mulesoft.com/mocks/25a70de5-ea09-4fcc-bc15-50e5997089f0 # 
title: American Flights API
version: 1.0

/flights:
  get:
    queryParameters: 
      code:
    responses: 
      200:
        body: 
          application/json:
            example: |
              [{"ID": 1,"code": "ER38sd","price": 400,
                "departureDate": "2016/03/20","origin": "MUA",
                "destination": "SFO","emptySeats": 0,"plane":
                {"type": "Boeing 737","totalSeats": 150}},
                {"ID": 2,"code": "ER45if","price": 345.99,
                "departureDate": "2016/02/11","origin": "MUA",
                "destination": "LAX","emptySeats": 52,"plane":
                {"type": "Boeing 777","totalSeats": 300}}] 
      
  post:
    body: 
      application/json:
        example: |
          {"code": "ER38sd","price": 400, "departureDate":
           "2016-03-20","origin": "MUA", "destination": "SFO",
           "emptySeats": 0,"plane": {"type": "Boeing 737",
           "totalSeats": 150}}
    responses: 
      201:
        body: 
          application/json:
            example: |
              {"message":"Flight added (but not really)"}  

  /{ID}:
    get:
      responses: 
        200:
          body: 
            application/json:
              example: | 
                {"ID": 1,"code": "Er38sd","price": 400,
                  "departureDate": "2016-03-20","origin": "MUA",
                  "destination": "SFO","emptySeats": 0,"plane":
                  {"type": "Boeing 737","totalSeats": 150}}          

